@font-face {
    font-family: Andalemo;
    src: url('/Font/ANDALEMO.TTF');
}
body{
    background-color: wheat;
    /* background-image: url('/Images/college-house-party-diverse-group-260nw-1445942390.webp'); */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Andalemo, sans-serif;
}
h1{
    color: white;
    text-align: center;
}
.welcomemenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 140px;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 50px;
    font-family: Andalemo, sans-serif;
}

.menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 140px;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 50px;
    font-family: Andalemo, sans-serif;
}
input {
    opacity: 0;
    transition: opacity 2s;
}
input[type="submit"] {
    margin: 10px;
}
  
.fade-in {
    opacity: 1 !important;
}
#name{
    width: 250px;
    text-align: center;
    font-family: Andalemo, sans-serif;
}
#ng{
    cursor: pointer;
}   
#ng:hover{
    color: cyan;
} 
#settings{
    cursor: pointer;
}   
#settings:hover{
    color: cyan;
}
#help{
    cursor: pointer;
}   
#help:hover{
    color: cyan;
}
#credits{
    cursor: pointer;
}
#credits:hover{
    color: cyan;
}


.line {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    width: 0;
}

.line:nth-child(1) {
    animation: typing 3s steps(7, end) 0s forwards, 
        blink-caret .75s step-end 3s, 
        hide-cursor 0s 3s forwards;
}

.line:nth-child(3) {
    animation: typing 2s steps(2, end) 3s forwards, 
        blink-caret .75s step-end 4s, 
        hide-cursor 0s 4s forwards;
}

.line:nth-child(5) {
    animation: typing 3s steps(12, end) 4s forwards, 
        blink-caret .75s step-end 7s, 
        hide-cursor 0s 7s forwards;
}
.line:nth-child(6) {
    animation: typing 3s steps(12, end) 4s forwards, 
        blink-caret .75s step-end 7s, 
        hide-cursor 0s 7s forwards;
}
.line:nth-child(8) {
    animation: typing 3s steps(12, end) 4s forwards, 
        blink-caret .75s step-end 7s, 
        hide-cursor 0s 7s forwards;
}
.line:nth-child(10) {
    animation: typing 3s steps(12, end) 4s forwards, 
        blink-caret .75s step-end 7s, 
        hide-cursor 0s 7s forwards;
}
.line:nth-child(12) {
    animation: typing 3s steps(12, end) 4s forwards, 
        blink-caret .75s step-end 7s, 
        hide-cursor 0s 7s forwards;
}
.line:nth-child(14) {
    animation: typing 3s steps(12, end) 4s forwards, 
        blink-caret .75s step-end 7s, 
        hide-cursor 0s 7s forwards;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    50% { border-color: transparent; }
}

@keyframes hide-cursor {
    to { border-color: transparent; }
}